.counter__inner {
   margin: 0 auto;
   padding: 15vh 0 0 0;
   max-width: 500px;
   display: none;
   gap: 36px;
   flex-direction: column;
   &.js-open {
      display: flex;
   }
   .counter__text span {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
   }
   .counter__addition, 
   .counter__reset,
   .reset__texts {
      width: 100%;
      text-align: center;
      color: #fff;
      border-radius: 20px;
   }
   .js-counter__score, .js-reset__score , p, span {
      color: #000;
   }
   button {
      height: 100px;
      position: relative;
      box-shadow: 5px 5px 15px 0px rgb(99, 99, 99);
      &:active {
         top:3px;
      }
   }
   .counter__addition {
      position: relative;
      background: #4191FF;
      z-index: 1;
   }
   .counter__reset {
      opacity: 0;
      visibility: hidden;
      background: #53d45a;
      transform: translate(0, -100%);
      transition: all .5s ease;
      &.js-open {
         opacity: 1;
         visibility: visible;
         transform: translate(0,0);
      }
      &.js-disable {
         background: gray;
         color: rgb(230, 230, 230);
         cursor: default;
         &:active {
            top:0px;
         }
      }
   }
   .reset__text {
      opacity: 0;
      visibility: hidden;
      transition: all .5s ease;
      span {
         display: flex;
         justify-content: space-between;
         flex-wrap: wrap;
      }
      &.js-open {
         opacity: 1;
         visibility: visible;
         }
      }
   }
